body {
    background-color: rgb(236, 221, 213);
}

.portfolio {
    background-color: rgb(236, 221, 213);
}

.jumbotron {
    height: 400px;
    display: flex;
    align-items: center;
    background-image: url('img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* .jumbotron::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(248, 244, 244) 25%, rgb(248, 244, 244) 3%) ;
} */
.jumbotron .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

